.main-container{
    max-width: 100%;
}

.background-primary{
    background-color: #760101;
}

.background-white{
    background-color: white;
}

.color-primary {
    color: #760101 !important;
}

.color-secondary {
    color: #373b42 !important;
}

.text-white{
    color:white;
}

h1 {
    font-size: calc(1.5rem + 1vw); /* Ajuste dinámico */
  }
  p {
    font-size: 1rem; /* Legible en pantallas pequeñas */
    line-height: 1.5; /* Mejora la lectura */
  }

.profileCard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

/*Nav*/
.img-nav-container {
    position: absolute;
    top: 0%;  /* Altura del Navbar */
    left: 0;
    right: 0;
    height: 48vh;  /* La altura de la imagen será el 48% de la altura de la ventana */
    max-height: 500px;
    background-image: url(../public/fondo.jpg);  /* Aquí va tu URL de la imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;  /* Asegura que la imagen esté detrás del contenido */
  }

  .img-nav-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Oscurece la imagen, ajusta el valor de opacidad */
    z-index: 0;
}

.nav-link {
    position: relative; /* Posicionamiento relativo para el pseudo-elemento */
    padding: 10px 15px; /* Espaciado interno */
    color: #000; /* Color del texto (puedes cambiarlo) */
    text-decoration: none; /* Eliminar subrayado por defecto */
    font-size: 1vm; /* Tamaño ajustado para dispositivos pequeños */
    padding: 8px 10px; /* Espaciado interno */
}

.nav-link::after {
    content: ''; /* Contenido vacío para el pseudo-elemento */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; /* Ancho total para que la línea cubra el texto */
    height: 2px; /* Altura de la línea */
    background-color: #760101; /* Color de la línea */
    transform: scaleX(0); /* Inicialmente la línea está oculta */
    transform-origin: left; /* La línea crece desde la izquierda */
    transition: transform 0.3s ease; /* Transición suave para el efecto */
}

.nav-link:hover::after {
    transform: scaleX(1); /* Crece la línea al pasar el cursor */
}

.nav-link:not(:hover)::after {
    transform: scaleX(0); /* Se oculta la línea cuando el cursor sale */
}

/*Button Resume*/
.button-transform {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #bdbdbd;
    padding: 12px 24px;
    transition: all 0.2s ease-in;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: black;
    z-index: 1;
  }
  
  .button-transform:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button-transform:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #760101;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button-transform:hover {
    color: #ffffff;
    border: 1px solid #760101;
  }
  
  .button-transform:hover:before {
    top: -35%;
    background-color: #760101;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button-transform:hover:after {
    top: -45%;
    background-color: #760101;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  











